:host {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 1rem;
  position: relative;
}

.player-bar-container {
  box-shadow:
    0 10px 30px -10px rgba(76, 29, 149, 0.35),
    0 0 15px 0 rgba(112, 26, 230, 0.15);
}
